<a href="https://colab.research.google.com/github/itsumiii/itsumiii/blob/main/1M180316_ItsumiNagakura_TakeHomeExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data and Social Media Analysis
## Unofficial midterm aka. take home exam for the pandas part of this course

Feel free to use any means available to you such as class notebooks, lecture vidoes, Google, StackOverFlow, online tutorials etc. The only thing I ask is that you do this yourself. This means not asking your programmer friend for help or posting a question from the exam on stackoverflow or similar.
Good luck!!!

1. Read in the ramen ratings file as a dataframe
2. set appropriate index and column names and print out an overview of the dataframe
3. Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)
5. Oh no, it seems the last column is full of null values. Convert these to NaN.
4. Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

6. Group the ramen by brand and calculate the mean, max, and min values in a single output.

7. What is the mode rating for all ramen?
8. Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?
8. How many different brands of ramen are included in the dataset?

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

##1
Read in the ramen ratings file as a dataframe

In [ ]:
#1
import pandas as pd
import numpy as np 

q1 = pd.read_csv("/content/gdrive/MyDrive/python files/ramen-ratings.csv")
q1

##2

set appropriate index and column names and print out an overview of the dataframe

In [ ]:
q1.columns

In [ ]:
q2 = q1.rename(columns={"Review #": "Review Num","Variety":"Flavour","Top Ten":"Top 10"}).set_index('Review Num').sort_values(by = 'Review Num')
q2
#also sorted by index to make it look more neat

In [ ]:
q2.info() #i didnt exactly understand what overview meant so i used every code i thought could apply

In [ ]:
print(q2)

In [ ]:
q2.shape

##3

Print a subset of the dataframe that only has the information of the brand of ramen and its score (hint: not groupby, or creation of new dataframe. How can we access specific rows or columns of data?)

In [ ]:
q3 = q2.loc[: , ['Brand','Stars']]
q3

##4

Oh no, it seems the last column is full of null values. Convert these to NaN.

In [ ]:
q2['Top 10'].fillna("NaN", inplace = True)

In [ ]:
q2['Top 10'].fillna("Out of Ranking", inplace = True)
#I thought this would be more easier to understand

In [ ]:
q2.head()

##5

Display only the rows where the brand is Nissin and the rating is above 3.5 (some data type conversion might be necessary)

In [ ]:
q2.Stars.unique()
#Unrated is preventing the conversion from string to float bc its a string in a list of numeric values

In [ ]:
q2['Stars'] = q2['Stars'].replace(['Unrated'],None)
q2.Stars.unique()

In [ ]:
q2['Stars']=q2['Stars'].astype(float)

In [ ]:
q2.Stars.unique()
#now all the values in this series is a float so i can use >= to search

In [ ]:
q5 = q2.loc[(q2.Brand == 'Nissin') & (q2.Stars >= 3.5)]
q5

##6

Group the ramen by brand and calculate the mean, max, and min values in a single output.

In [ ]:
q2.groupby('Brand').Stars.agg([np.mean,max,min])

##7

What is the mode rating for all ramen?

In [ ]:
q2.Stars.mode()
#4.0 is the mode rating for all ramen

##8

Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?

In [ ]:
#i renamed variety to style
q2['Style']=q2['Style'].astype('category').cat.codes

In [ ]:
q8 = q2.groupby('Brand').Style.mean().sort_values(ascending = False)
q8

In [ ]:
q8.head(15)
#brands with a 6.0 average have the highest mean

##9

How many different brands of ramen are included in the dataset?

In [ ]:
q9 = q2.Brand.nunique()
q9