<a href="https://colab.research.google.com/github/itsumiii/itsumiii/blob/main/ItsumiNagakura_DASMA51_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#import data
import pandas as pd

df = pd.read_csv("/content/gdrive/MyDrive/python files/charts.csv")

#change format of date column to easily look up data of specific months
df['date']= pd.to_datetime(df['date'])

#to make sure the dates are in order so its easier to find last available data for each month
df.sort_values(by = 'date', ascending = False)

df.head()

        date  rank           song  ... last-week  peak-rank  weeks-on-board
0 2021-11-06     1     Easy On Me  ...       1.0          1               3
1 2021-11-06     2           Stay  ...       2.0          1              16
2 2021-11-06     3  Industry Baby  ...       3.0          1              14
3 2021-11-06     4     Fancy Like  ...       4.0          3              19
4 2021-11-06     5     Bad Habits  ...       5.0          2              18

[5 rows x 7 columns]

In [ ]:
list(df.columns)

['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board']

#January

In [3]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==1)&(df['date'].dt.year==2021)]
#2021-01-30

#get first and last rows of df which only includes data from the date found above
Jan = df.loc[(df.date == '2021-01-30')].iloc[[0,-3]]

Jan


#100 #Dangerous by Morgan Wallen (peak rank:62) #no music video
#98 #One Too Many by Keith Urban with P!nk
#https://youtu.be/cy1rAn9MLtQ

           date  rank             song  ... last-week  peak-rank  weeks-on-board
4000 2021-01-30     1  Drivers License  ...       1.0          1               2
4097 2021-01-30    98     One Too Many  ...       NaN         62               6

[2 rows x 7 columns]

##1

https://www.analyticssteps.com/blogs/sentiment-analysis-youtube-comments

In [4]:
#imports for scraping

!pip install selenium
#we also need to do the extra steps below because we need to call the chrome executable from colab
#these steps are not necessary if you are running the code from your own computer
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

import sys
from selenium import webdriver

import time
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
     |████████████████████████████████| 958 kB 4.1 MB/s
Collecting urllib3[secure]~=1.26
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 57.4 MB/s
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 52.8 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.2.0)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.6 MB/s
Collecting cryptography>=1.3.4
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 49.7 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.9 MB/s
Installing collected packages: sniffio, outcome, h11, cryptography, async-generator, wsproto, urllib3, trio, pyOpenSSL, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.7 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed async-generator-1.10 cryptography-36.0.1 h11-0.12.0 outcome-1.1.0 pyOpenSSL-21.0.0 selenium-4.1.0 sniffio-1.2.0 trio-0.19.0 trio-websocket-0.9.2 urllib3-1.26.7 wsproto-1.0.0
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [73.9 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [833 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [691 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,898 kB]
Hit:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,452 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,821 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,461 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,230 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [11.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [12.6 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 13.8 MB in 7s (1,929 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 85 not upgraded.
Need to get 94.0 MB of archives.
After this operation, 324 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 95.0.4638.69-0ubuntu0.18.04.1 [1,135 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 95.0.4638.69-0ubuntu0.18.04.1 [83.6 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 95.0.4638.69-0ubuntu0.18.04.1 [4,249 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 95.0.4638.69-0ubuntu0.18.04.1 [4,986 kB]
Fetched 94.0 MB in 10s (9,289 kB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_95.0.4638.69-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (95.0.4638.69-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_95.0.4638.69-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-browser (95.0.4638.69-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (95.0.4638.69-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (95.0.4638.69-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
#1

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)
#https://youtu.be/ZmDBbnmKpqQ

##scraping!!

!pip install selenium
#we also need to do the extra steps below because we need to call the chrome executable from colab
#these steps are not necessary if you are running the code from your own computer
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

import time
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

Drivers_License=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/ZmDBbnmKpqQ") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Drivers_License.append(comment.text)

In [20]:
import pandas as pd   
Drivers_License_= pd.DataFrame(Drivers_License, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
Drivers_License_.to_csv('/content/gdrive/My Drive/python files/final project/Drivers_License.csv', encoding='utf-8', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  datetime64[ns]
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 17.6+ MB

In [55]:
#cleaning data

#!!name all data of top song of each month as 'songname_1' !!!!!!
Jan_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Drivers_License.csv")
Jan_1.info()
Jan_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1859 non-null   object
dtypes: object(1)
memory usage: 14.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n3:58\nOlivi...
1  Listen to ‘drivers license’ out now: https://s...
2  I like this song too much for someone who’s ne...
3  I like this song too much for someone who’s ne...
4  i love artists who arent afraid to use their v...

In [61]:
#drop first 2 rows bc they are part of the music video description not comments

Jan_1_ = Jan_1.drop(labels=[0,1], axis=0)

Jan_1_

                                                comment
2     I like this song too much for someone who’s ne...
3     I like this song too much for someone who’s ne...
4     i love artists who arent afraid to use their v...
5     Its crazy how many people come back to this ev...
6     It hasn't even been a year and this song feels...
...                                                 ...
1854                                         Olivia ಥ‿ಥ
1855                this absolutely deserves 7.6M likes
1856                                              AAAAA
1857  This song really got me crying over someone wh...
1858                       This song deserves 1B views.

[1857 rows x 1 columns]

##98

In [27]:
#scraping

#98 #One Too Many by Keith Urban with P!nk
#https://youtu.be/cy1rAn9MLtQ


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

One_Too_Many=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/cy1rAn9MLtQ") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  One_Too_Many.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [28]:
OTM= pd.DataFrame(One_Too_Many, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
OTM.to_csv('/content/gdrive/MyDrive/python files/final project/Jan98.csv', encoding='utf-8', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  datetime64[ns]
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 17.6+ MB

In [33]:
#cleaning data

#!!name all data of top song of each month as 'songname_L' !!!!!! L means last bc its most likely that bottom songs have music videos so the ranking of bottom songs vary

Jan_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Jan98.csv")
Jan_L.info()
Jan_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1942 non-null   object
dtypes: object(1)
memory usage: 15.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n6:40\nKeith Urban & ...
1                                                NaN
2                                                NaN
3  The official music video for “One Too Many” wi...
4     The guy has never written a bad song... ❤️❤️❤️

In [63]:
Jan_L_ = Jan_L.drop(labels=[0], axis=0)

Jan_L_

                                                comment
1                                                   NaN
2                                                   NaN
3     The official music video for “One Too Many” wi...
4        The guy has never written a bad song... ❤️❤️❤️
5     It's December 2021, let's see how many legends...
...                                                 ...
1939             Damn. This just hit the spot.  Perfect
1940  One collab I didn’t know I needed till this so...
1941                         Pink...I like it  🌸🌸🌸🌴🌸🌸🌸💜
1942  I have never been so proud, a power woman and ...
1943  I love the song but why did they have to add o...

[1943 rows x 1 columns]

#February

In [ ]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==2)&(df['date'].dt.year==2021)]
#2021-02-27

Feb = df.loc[(df.date == '2021-02-27')].iloc[[0,-2]]

Feb

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)

#100 #How They Remember You by Rascal Flatts (peak rank:100) #no music video
#99 #Opp Stoppa by YBN Nahmir featuring 21 Savage
#https://youtu.be/UXXGfp-z850

           date  rank             song  ... last-week  peak-rank  weeks-on-board
3600 2021-02-27     1  Drivers License  ...       1.0          1               6
3698 2021-02-27    99       Opp Stoppa  ...       NaN         97               2

[2 rows x 7 columns]

##2_1

##2_99

In [34]:
##scraping

#99 #Opp Stoppa by YBN Nahmir featuring 21 Savage
#https://youtu.be/UXXGfp-z850

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Opp_Stoppa=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/UXXGfp-z850") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Opp_Stoppa.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [35]:
Opp_Stoppa_= pd.DataFrame(Opp_Stoppa, columns=['comment'])

Opp_Stoppa_.to_csv('/content/drive/My Drive/python files/final project/Feb99.csv', encoding='utf-8', index=False)

In [36]:
##cleaning data

Feb_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Feb99.csv")
Feb_L.info()
Feb_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1288 non-null   object
dtypes: object(1)
memory usage: 10.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n2:54\nLil Loaded ft....
1  YBN Nahmir  - Opp Stoppa (feat. 21 Savage)\nSt...
2                              21 being held hostage
3  What a talented young man, I hope he doesn’t f...
4  Man this guy’s good! I hope he does not make a...

In [64]:
Feb_L_ = Feb_L.drop(labels=[0,1], axis=0)

Feb_L_

                                                comment
2                                 21 being held hostage
3     What a talented young man, I hope he doesn’t f...
4     Man this guy’s good! I hope he does not make a...
5     This guy has some talent I hope he don’t make ...
6     What a talented young man, i hope he dont glid...
...                                                 ...
1310  Nahmir and Osiris making lightskins look like ...
1311  Do shorty know how goofy they looked at the en...
1312  YBN and Middle finger with the five get em y'a...
1313      When 21 savage rap all u hear ina back  21…21
1314              21 look like he didn’t wanna be there

[1313 rows x 1 columns]

#March

In [ ]:
df.loc[(df['date'].dt.month==3)&(df['date'].dt.year==2021)]
 #2021-03-27

March = df.loc[(df.date == '2021-03-27')].iloc[[0,-1]]

March

#1 
#Up by Cardi B (peak rank: 1)
#https://youtu.be/rCiBgLOcuKU

#100
#Undivided by Tim McGraw & Tyler Hubbard (peak rank: 76)
#https://youtu.be/nsFb67fo7nE

           date  rank       song  ... last-week  peak-rank  weeks-on-board
3200 2021-03-27     1         Up  ...       6.0          1               6
3299 2021-03-27   100  Undivided  ...       NaN         76               2

[2 rows x 7 columns]

##3_1

In [37]:
##scraping

#1 
#Up by Cardi B (peak rank: 1)
#https://youtu.be/rCiBgLOcuKU

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Up=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/rCiBgLOcuKU") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Up.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [38]:
Up_= pd.DataFrame(Up, columns=['comment'])

Up_.to_csv('/content/gdrive/My Drive/python files/final project/March1.csv', encoding='utf-8', index=False)

In [39]:
##cleaning data

March_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/March1.csv")
March_1.info()
March_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1602 entries, 0 to 1601
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1572 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n0:00 / 2:49\nSHOW CH...
1  Cardi B - Up\nStream/Download - https://cardib...
2                                   Disney gone wild
3  Hate her or not, this girl is still making ama...
4  whoever is styling her deserves all the flower...

In [65]:
March_1_ = March_1.drop(labels=[0,1], axis=0)

March_1_

                                                comment
2                                      Disney gone wild
3     Hate her or not, this girl is still making ama...
4     whoever is styling her deserves all the flower...
5     Producer: Okay cardi what do you wanna wear fo...
6     She puts so much effort into her visuals. Noon...
...                                                 ...
1597                                               папа
1598  I got respect for any CGI teams involved they ...
1599                                    offset so lucky
1600  You know when a song slaps so hard you gotta l...
1601  Card é foda! Música dançante e clip lindo dema...

[1600 rows x 1 columns]

##3_100

In [40]:
##scraping


#100
#Undivided by Tim McGraw & Tyler Hubbard (peak rank: 76)
#https://youtu.be/nsFb67fo7nE

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Undivided=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/nsFb67fo7nE") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Undivided.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: use options instead of chrome_options
  del sys.path[0]

In [44]:
Undivided_= pd.DataFrame(Undivided, columns=['comment'])

Undivided_.to_csv('/content/gdrive/My Drive/python files/final project/March100.csv', encoding='utf-8', index=False)

In [45]:
##cleaning data

March_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/March100.csv")
March_L.info()
March_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1293 non-null   object
dtypes: object(1)
memory usage: 10.2+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n1:32:28\nBest Slow C...
1                                                NaN
2                                                NaN
3  Official music video for Tim McGraw and Tyler ...
4  I pray everybody will hear this song and liste...

In [66]:
March_L_ = March_L.drop(labels=[0,1], axis=0)

March_L_

                                                comment
2                                                   NaN
3     Official music video for Tim McGraw and Tyler ...
4     I pray everybody will hear this song and liste...
5     I wish everyone can take this song into their ...
6     So many people need to really hear this song, ...
...                                                 ...
1291                  Lol money grabbing song. Terrible
1292  I dont fake and I dont do fake accounts I dont...
1293  All christians should know what he means in th...
1294                       country music is dead. barf.
1295                                                NaN

[1294 rows x 1 columns]

#April

In [ ]:
df.loc[(df['date'].dt.month==4)&(df['date'].dt.year==2021)]
#2021-04-24

April = df.loc[(df.date == '2021-04-24')].iloc[[0,-1]]

April

#1 #Rapstar by Polo G 
# https://youtu.be/w2IhccXakkE

# 100 #Real As It Gets by Lil Baby featuring EST Gee
#https://youtu.be/yhoGtNiNX40

           date  rank             song  ... last-week  peak-rank  weeks-on-board
2800 2021-04-24     1          Rapstar  ...       NaN          1               1
2899 2021-04-24   100  Real As It Gets  ...      83.0         34               6

[2 rows x 7 columns]

##4_1

In [67]:
##scraping

#1 #Rapstar by Polo G 
# https://youtu.be/w2IhccXakkE

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Rapstar=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/w2IhccXakkE") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Rapstar.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [68]:
Rapstar_= pd.DataFrame(Rapstar, columns=['comment'])

Rapstar_.to_csv('/content/gdrive/My Drive/python files/final project/April1.csv', encoding='utf-8', index=False)

In [69]:
##cleaning data

April_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/April1.csv")
April_1.info()
April_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1441 non-null   object
dtypes: object(1)
memory usage: 11.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n3:18\nPolo ...
1                                                NaN
2                                                NaN
3  Official video for "RAPSTAR" by Polo G\n\nList...
4                                   WE WENT #1🌟🌟🌟🌟🌟🐐

In [82]:
April_1_ = April_1.drop(labels=[0,1], axis=0)

April_1_

                                                comment
2                                                   NaN
3     Official video for "RAPSTAR" by Polo G\n\nList...
4                                      WE WENT #1🌟🌟🌟🌟🌟🐐
5     This song is legendary, I'm glad to see that o...
6                                Polo G don’t miss! 💚💚💚
...                                                 ...
1439                                             🐐 Goat
1440                       Polo G knows how to do it 🔥💯
1441                                His voice is somoth
1442  To everyone in the next 20 years, this guy rea...
1443                                                NaN

[1442 rows x 1 columns]

##4_100

In [70]:
##scraping

# 100 #Real As It Gets by Lil Baby featuring EST Gee
#https://youtu.be/yhoGtNiNX40

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

RAIG=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/yhoGtNiNX40") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  RAIG.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [71]:
RAIG_= pd.DataFrame(RAIG, columns=['comment'])

RAIG_.to_csv('/content/gdrive/My Drive/python files/final project/April100.csv', encoding='utf-8', index=False)

In [80]:
##cleaning data

April_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/April100.csv")
April_L.info()
April_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1042 non-null   object
dtypes: object(1)
memory usage: 8.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n♪ GONE HAVE TO CHASE...
1  Watch the music video for Lil Baby Feat. EST G...
2           Hoping my neighbours like Lil Baby too 🔈
3  I don't understand how anyone could put a thum...
4  I love how lil baby knows every lyric of the f...

In [81]:
April_L_ = April_L.drop(labels=[0,1], axis=0)

April_L_

                                                comment
2              Hoping my neighbours like Lil Baby too 🔈
3     I don't understand how anyone could put a thum...
4     I love how lil baby knows every lyric of the f...
5     This song so good that I get pissed when they ...
6     If baby drops a another album the world is ove...
...                                                 ...
1037  Lol  I just started listen to him he might wan...
1038  Just when u thought it wasn’t possible baby le...
1039                                 How’s this so fire
1040  Shoutout to all the Eastside and Crips staying...
1041  You know this guy has some crazy talent when I...

[1040 rows x 1 columns]

#May

In [ ]:
df.loc[(df['date'].dt.month==5)&(df['date'].dt.year==2021)]
#2021-05-29

May = df.loc[df.date == '2021-05-29'].iloc[[0,-2]]

May

#1 #Good 4 U by Olivia Rodrigo
#https://youtu.be/gNi_6U5Pm_o

#100 → no music video
#99 #Country Again by Thomas Rhett
#https://youtu.be/t_J2gGmoiOM

           date  rank           song  ... last-week  peak-rank  weeks-on-board
2300 2021-05-29     1       Good 4 U  ...       NaN          1               1
2398 2021-05-29    99  Country Again  ...      95.0         73               3

[2 rows x 7 columns]

##5_1

In [74]:
##scraping

#1 #Good 4 U by Olivia Rodrigo
#https://youtu.be/gNi_6U5Pm_o

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Good4U=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/gNi_6U5Pm_o") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Good4U.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [75]:
Good4U_= pd.DataFrame(Good4U, columns=['comment'])

Good4U_.to_csv('/content/gdrive/My Drive/python files/final project/May1.csv', encoding='utf-8', index=False)

In [76]:
##cleaning data

May_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/May1.csv")
May_1.info()
May_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1947 non-null   object
dtypes: object(1)
memory usage: 15.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n59:20\nTaylor Swift ...
1  Listen to "good 4 u" out now: https://OliviaRo...
2  drivers license = sadness\ndeja vu = jealousy\...
3  Driver license - depression\n\nDeja Vu - envy\...
4  This is the most teenager song I've heard in y...

In [77]:
May_1_= May_1.drop(labels=[0,1], axis=0)
May_1_

                                                comment
2     drivers license = sadness\ndeja vu = jealousy\...
3     Driver license - depression\n\nDeja Vu - envy\...
4     This is the most teenager song I've heard in y...
5     I really feel the state of frustration she tri...
6                      [Intro]\n\n(Ah)\n\n\n\n[Verse 1]
...                                                 ...
1955                                      Eres la mejor
1956                "Showing Smartfood While The Video"
1957  Fact : Never hurt a singer, they might wrote a...
1958                   I AM OBSESSED WITH YOUR VOICE!!!
1959                                                NaN

[1958 rows x 1 columns]

##5_99

In [83]:
##scraping

#99 #Country Again by Thomas Rhett
#https://youtu.be/t_J2gGmoiOM

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Country_Again=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/t_J2gGmoiOM") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Country_Again.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Country_Again_= pd.DataFrame(Country_Again, columns=['comment'])

Country_Again_.to_csv('/content/gdrive/My Drive/python files/final project/May99.csv', encoding='utf-8', index=False)

In [7]:
##cleaning data

April_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/May99.csv")
April_L.info()
April_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  793 non-null    object
dtypes: object(1)
memory usage: 6.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n♪ But I dug 'em out\...
1                                                NaN
2                                                NaN
3  Official music video for the title track from ...
4                        Thanks for watching, y'all!

In [8]:
April_L_ = April_L.drop(labels= [0,1,2,3,4], axis=0)

April_L_

                                               comment
5              Man it feels good to hear country again
6    I am not American but country music feels like...
7    Good to see some people coming back to being C...
8    How many times has Thomas Rhett driven me to t...
9    Having just moved back home to Alabama from Ca...
..                                                 ...
790                Oh,  Now you're country?  Too late.
791  Americans should the best people out there if ...
792  This sucks  just another so called country sin...
793                      This the worst song ever made
794  This shit isn't even country, just cause u tal...

[790 rows x 1 columns]

#June

In [ ]:
df.loc[(df['date'].dt.month==6)&(df['date'].dt.year==2021)]
#2021-06-26

June = df.loc[(df.date == '2021-06-26')].iloc[[0,-1]]

June

#1 #Butter by BTS
#https://youtu.be/WMweEpGlu_U

#100 #You by Regard x Troye Sivan x Tate McRae
#https://youtu.be/on_IPWtYdc0

           date  rank    song  ... last-week  peak-rank  weeks-on-board
1900 2021-06-26     1  Butter  ...       1.0          1               4
1999 2021-06-26   100     You  ...       NaN        100               1

[2 rows x 7 columns]

##6_1

In [87]:
##scraping

#1 #Butter by BTS
#https://youtu.be/WMweEpGlu_U

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Butter=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/WMweEpGlu_U") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Butter.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [88]:
Butter_= pd.DataFrame(Butter, columns=['comment'])

Butter_.to_csv('/content/gdrive/My Drive/python files/final project/June1.csv', encoding='utf-8', index=False)

In [89]:
##cleaning data

June_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/June1.csv")
June_1.info()
June_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1691 non-null   object
dtypes: object(1)
memory usage: 13.5+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next in 3\n3:28\n...
1                                                NaN
2  BTS (방탄소년단) 'Butter' Official MV \n\n\nCredits...
3  Tenemos que llegar sí o sí hoy a los 300 M, va...
4                     Time for soul-refreshing songs

In [90]:
June_1_ = June_1.drop(labels=[0,1,2], axis=0)

June_1_

                                                comment
3     Tenemos que llegar sí o sí hoy a los 300 M, va...
4                        Time for soul-refreshing songs
5     No importa cuanto tiempo pase, Butter siempre ...
6     I can't believe they all now are superpopular ...
7     Deveríamos ser igual a lua, por mais\nSozinha ...
...                                                 ...
1712  I love BTS very talented individuals that prom...
1713                                        650M Views♡
1714  لقد احببت الاغنيه كثيرا كثيرا شكرا بتس على هذا...
1715  VOTE FOR BTS AT THE MAMA AWARD! THE 1ST PLACE ...
1716                                                NaN

[1714 rows x 1 columns]

##6_100

In [91]:
##scraping

#100 #You by Regard x Troye Sivan x Tate McRae
#https://youtu.be/on_IPWtYdc0 

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

You=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/on_IPWtYdc0 ") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  You.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [92]:
You_ = pd.DataFrame(You, columns=['comment'])

You_.to_csv('/content/gdrive/My Drive/python files/final project/June100.csv', encoding='utf-8', index=False)

In [93]:
##cleaning data

June_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/June100.csv")
June_L.info()
June_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1983 entries, 0 to 1982
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1948 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n3:55\nRegard, Troye ...
1  Listen to 'You' now: https://lnk.to/RegardTroy...
2  this is an absolute BOP how am I only discover...
3  This song just screams, "professional sound". ...
4  this song is my current fave song and I can't ...

In [95]:
June_L_ = June_L.drop(labels = [0,1], axis=0)
June_L_

                                                comment
2     this is an absolute BOP how am I only discover...
3     This song just screams, "professional sound". ...
4     this song is my current fave song and I can't ...
5                                        Amo esse som !
6                               Essa música é top,amooo
...                                                 ...
1978               I’m falling in looooveeeee againnnn
1979                                             Troye
1980                     The editing is effing coolllll
1981                                    Summer 21 music
1982                                                NaN

[1981 rows x 1 columns]

#July

In [41]:
df.loc[(df['date'].dt.month==7)&(df['date'].dt.year==2021)]
#2021-07-31

July = df.loc[df.date == '2021-07-31'].iloc[[0,-1]]

July

#1

#100 #Cold Beer Calling My Name by Jameson Rodgers featuring Luke Combs
#https://youtu.be/bBBOw2ZLwqI

           date  rank  ... peak-rank weeks-on-board
1400 2021-07-31     1  ...         1              9
1499 2021-07-31   100  ...        95              3

[2 rows x 7 columns]

##7_1

##7_100

In [ ]:
##scraping

#100 #Cold Beer Calling My Name by Jameson Rodgers featuring Luke Combs
#https://youtu.be/bBBOw2ZLwqI

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

CBCMN=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/bBBOw2ZLwqI") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  CBCMN.append(comment.text)

In [97]:
CBCMN_= pd.DataFrame(CBCMN, columns=['comment'])

CBCMN_.to_csv('/content/gdrive/My Drive/python files/final project/July100.csv', encoding='utf-8', index=False)

In [10]:
##cleaning data

July_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/July100.csv")
July_L.info()
July_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1947 non-null   object
dtypes: object(1)
memory usage: 15.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n59:20\nTaylor Swift ...
1  Listen to "good 4 u" out now: https://OliviaRo...
2  drivers license = sadness\ndeja vu = jealousy\...
3  Driver license - depression\n\nDeja Vu - envy\...
4  This is the most teenager song I've heard in y...

In [99]:
July_L_ = July_L.drop(labels=[0,1], axis=0)

July_L_

                                                comment
2     drivers license = sadness\ndeja vu = jealousy\...
3     Driver license - depression\n\nDeja Vu - envy\...
4     This is the most teenager song I've heard in y...
5     I really feel the state of frustration she tri...
6                      [Intro]\n\n(Ah)\n\n\n\n[Verse 1]
...                                                 ...
1955                                      Eres la mejor
1956                "Showing Smartfood While The Video"
1957  Fact : Never hurt a singer, they might wrote a...
1958                   I AM OBSESSED WITH YOUR VOICE!!!
1959                                                NaN

[1958 rows x 1 columns]

#August

In [ ]:
df.loc[(df['date'].dt.month==8)&(df['date'].dt.year==2021)]
#2021-08-28

Aug = df.loc[df.date == '2021-08-28'].iloc[[0,-1]]

Aug

#1 #Stay by The Kid Laroi and JB
#https://youtu.be/kTJczUoc26U

#100 #5500 Degrees by EST Gee featuring Lil Baby etc...
#https://youtu.be/IWm4c9u0O8c

           date  rank          song  ... last-week  peak-rank  weeks-on-board
1000 2021-08-28     1          Stay  ...       1.0          1               6
1099 2021-08-28   100  5500 Degrees  ...       NaN         92               2

[2 rows x 7 columns]

##8_1

In [5]:
##scraping

#1 #Stay by The Kid Laroi and JB
#https://youtu.be/kTJczUoc26U

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Stay=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/kTJczUoc26U") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Stay.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [9]:
Stay_= pd.DataFrame(Stay, columns=['comment'])
Stay_.head()

Stay_.to_csv('/content/gdrive/My Drive/python files/final project/August1.csv', encoding='utf-8', index=False)

In [10]:
##cleaning data

August_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/August1.csv")
August_1.info()
August_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1625 non-null   object
dtypes: object(1)
memory usage: 13.0+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n1:00:02\nThe Kid...
1  Official video for “Stay” by The Kid LAROI & J...
2  [Chorus: The Kid LAROI]\nI do the same thing I...
3  Both are artists who rose to fame at a young a...
4                                 Música maravilhosa

In [13]:
August_1_ = August_1.drop(labels=[0,1,2], axis=0)
August_1_

                                                comment
3     Both are artists who rose to fame at a young a...
4                                    Música maravilhosa
5                    Toda música do Justin bieber é hit
6     The background score in this song is legendary...
7     And five months later...still the BADASS song....
...                                                 ...
1645                             0:16 his right leg ups
1646                               I like this so much
1647  AUDIUS TO THE MOON                            ...
1648  Chorus: The Kid LAROI]\nI do the same thing I ...
1649       Keep your hardwork  it is the  strength of u

[1647 rows x 1 columns]

##8_100

In [15]:
##scraping

#100 #5500 Degrees by EST Gee featuring Lil Baby etc...
#https://youtu.be/IWm4c9u0O8c

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Degrees=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/IWm4c9u0O8c") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Degrees.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [16]:
Degrees_= pd.DataFrame(Degrees, columns=['comment'])

Degrees_.to_csv('/content/gdrive/My Drive/python files/final project/August100.csv', encoding='utf-8', index=False)

In [17]:
##cleaning data

August_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/August100.csv")
August_L.info()
August_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1712 non-null   object
dtypes: object(1)
memory usage: 14.1+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n0:00 / 3:05\n#ES...
1                                                NaN
2                                                NaN
3  Listen to EST Gee's “Bigger Than Life Or Death...
4             EST PUTTING ON!! 502 in the building!!

In [18]:
August_L_ = August_L.drop(labels=[0,1,2,3], axis=0)
August_L_

                                                comment
4                EST PUTTING ON!! 502 in the building!!
5        When everyone do their part in a group project
6             Now this how a XXL cypher supposed to go
7     Energy never disappoints with his beats, he de...
8     Can’t lie,42dugg Flows Comes Different In This...
...                                                 ...
1779                            42 dugg slid on this !!
1780  1:27 Lil Baby: Rylo I’m going to make sure the...
1781                                                NaN
1782                                Lil Baby is the man
1783                                            Dugg!!!

[1780 rows x 1 columns]

#Septemer

In [ ]:
df.loc[(df['date'].dt.month==9)&(df['date'].dt.year==2021)]
#2021-09-25

Sep = df.loc[df.date == "2021-09-25"].iloc[[0,-1]]

Sep

#1

#100 #Knowing You by Kenny Chesney 
#https://youtu.be/PkrTvtIxUaA

          date  rank         song  ... last-week  peak-rank  weeks-on-board
600 2021-09-25     1         Stay  ...       6.0          1              10
699 2021-09-25   100  Knowing You  ...       NaN         87               5

[2 rows x 7 columns]

##9_1

##9_100

In [19]:
##scraping

#100 #Knowing You by Kenny Chesney 
#https://youtu.be/PkrTvtIxUaA

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

KnowingYou=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/PkrTvtIxUaA") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  KnowingYou.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [20]:
KnowingYou_= pd.DataFrame(KnowingYou, columns=['comment'])

KnowingYou_.to_csv('/content/gdrive/My Drive/python files/final project/September100.csv', encoding='utf-8', index=False)

In [21]:
##cleaning data

Sep_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/September100.csv")
Sep_L.info()
Sep_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1733 non-null   object
dtypes: object(1)
memory usage: 13.9+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n4:08\nKenny Ches...
1                                                NaN
2                                                NaN
3  Kenny Chesney - Knowing You (Official Music Vi...
4         Uma canção linda que toca o nosso coração.

In [23]:
Sep_L_ = Sep_L.drop(labels=[0,1,2,3], axis=0)

Sep_L_

                                                comment
4            Uma canção linda que toca o nosso coração.
5     There’s really only a handful of country music...
6     What a beautiful song. Sometimes we hold on by...
7     I lost my wife in October, and Kenny you just ...
8     I lost my daughter a little over two  months a...
...                                                 ...
1752  Wow,. So Beautiful.. Had chills the entire vid...
1753  I’d do it all over because damn.... it was eve...
1754              Great song Kenny. Out of the park !..
1755                                         great tune
1756                      First Class - job well done !

[1753 rows x 1 columns]

#October

In [ ]:
df.loc[(df['date'].dt.month==10)&(df['date'].dt.year==2021)]
#2021-10-30

Oct = df.loc[(df.date == '2021-10-30')].iloc[[0,-1]]

Oct

#1 #Easy On Me by Adele (peak rank: 1)
#https://youtu.be/U3ASj1L6_sY

#100 #Just About Over You by Priscilla Block (peak rank: 97)
#https://youtu.be/J1Jrp0tiRGk

          date  rank                 song  ... last-week  peak-rank  weeks-on-board
100 2021-10-30     1           Easy On Me  ...      68.0          1               2
199 2021-10-30   100  Just About Over You  ...      97.0         97               2

[2 rows x 7 columns]

##10_1

In [24]:
##scraping

#1 #Easy On Me by Adele (peak rank: 1)
#https://youtu.be/U3ASj1L6_sY

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

EasyOnMe=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/U3ASj1L6_sY") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  EasyOnMe.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [25]:
EasyOnMe_= pd.DataFrame(EasyOnMe, columns=['comment'])

EasyOnMe_.to_csv('/content/gdrive/My Drive/python files/final project/October1.csv', encoding='utf-8', index=False)

In [26]:
##cleaning data

Oct_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/October1.csv")
Oct_1.info()
Oct_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1639 entries, 0 to 1638
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1599 non-null   object
dtypes: object(1)
memory usage: 12.9+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\nSHOW CHAT REPLAY...
1  Official Video for "Easy On Me" by Adele.\nSho...
2  Lyrics\nThere ain't no gold in this river\n\nT...
3                                    love the song ️
4  Essa música trás paz ao corpo, escuto de olhos...

In [27]:
Oct_1_ = Oct_1.drop(labels=[0,1,2], axis=0)

Oct_1_

                                                comment
3                                       love the song ️
4     Essa música trás paz ao corpo, escuto de olhos...
5     Whenever I hear this song I dedicate it to mys...
6                Gente do céu, que música PERFEITAAAAAA
7                                              Adele..
...                                                 ...
1634   Now u and rod gonna make a song together amazing
1635  Kita adalah 2 orang yg gagal.\nKamu gagal mema...
1636  Why are people saying this doesn’t sound like ...
1637  imagine if drake and kanye hosted a gospel of ...
1638                                                NaN

[1636 rows x 1 columns]

##10_100

In [28]:
##scraping

#100 #Just About Over You by Priscilla Block (peak rank: 97)
#https://youtu.be/J1Jrp0tiRGk

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

JAOY=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/J1Jrp0tiRGk") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  JAOY.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [30]:
JAOY_= pd.DataFrame(JAOY, columns=['comment'])

JAOY_.to_csv('/content/gdrive/My Drive/python files/final project/October100.csv', encoding='utf-8', index=False)

In [31]:
##cleaning data

Oct_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/October100.csv")
Oct_L.info()
Oct_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766 entries, 0 to 765
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  764 non-null    object
dtypes: object(1)
memory usage: 6.1+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n0:00 / 3:15\nSHO...
1                                                NaN
2                                                NaN
3  The Official Music Video for Priscilla Block’s...
4  K but hear me out...Luke Combs and Priscilla d...

In [32]:
Oct_L_ = Oct_L.drop(labels=[0,1,2,3], axis=0)
Oct_L_

                                               comment
4    K but hear me out...Luke Combs and Priscilla d...
5    Thiiiiis is the country music we need that 90s...
6    i’m literally crying for you rn. this is liter...
7    GIRL this song hits hard for me.it’s like ther...
8    I appreciate how cleanly Priscilla sings this ...
..                                                 ...
761  The amused shovel positionally beg because dug...
762  The chief argument preferably guarantee becaus...
763  You've always gotta be careful when checking o...
764  wypipo spoil their kids too much. this is real...
765  The music is very close to Blake Shelton and M...

[762 rows x 1 columns]

#November

In [ ]:
 #not yet

df.loc[(df['date'].dt.month==11)&(df['date'].dt.year==2021)]

#Nov == df.loc[df.date == "2021-11-"].iloc[[0,-1]]

#Nov

         date  rank                song  ... last-week  peak-rank  weeks-on-board
0  2021-11-06     1          Easy On Me  ...       1.0          1               3
1  2021-11-06     2                Stay  ...       2.0          1              16
2  2021-11-06     3       Industry Baby  ...       3.0          1              14
3  2021-11-06     4          Fancy Like  ...       4.0          3              19
4  2021-11-06     5          Bad Habits  ...       5.0          2              18
..        ...   ...                 ...  ...       ...        ...             ...
95 2021-11-06    96  To Be Loved By You  ...       NaN         96               1
96 2021-11-06    97          Ain't Shit  ...       NaN         24              14
97 2021-11-06    98        Life Goes On  ...       NaN         91               2
98 2021-11-06    99        Come Through  ...       NaN         64              16
99 2021-11-06   100              Nevada  ...       NaN         58               4

[100 rows x 7 columns]

##11_1

##11_100

#December

In [ ]:
#df.loc[(df['date'].dt.month==12)&(df['date'].dt.year==2021)]

#Dec = df.loc[df.date == "2021-12-"].iloc[[0,-1]]

#Dec

##12_1

##12_100