<a href="https://colab.research.google.com/github/itsumiii/itsumiii/blob/main/ItsumiNagakura_DASMA51_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [130]:
#import data
import pandas as pd

df = pd.read_csv("/content/gdrive/MyDrive/python files/charts.csv")

#change format of date column to easily look up data of specific months
df['date']= pd.to_datetime(df['date'])

df.head()

#charts == df.iloc[:, 0:4]

        date  rank           song  ... last-week  peak-rank  weeks-on-board
0 2021-11-06     1     Easy On Me  ...       1.0          1               3
1 2021-11-06     2           Stay  ...       2.0          1              16
2 2021-11-06     3  Industry Baby  ...       3.0          1              14
3 2021-11-06     4     Fancy Like  ...       4.0          3              19
4 2021-11-06     5     Bad Habits  ...       5.0          2              18

[5 rows x 7 columns]

In [ ]:
list(df.columns)

['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board']

In [ ]:
#January

#see what is the last day of month with available data
df.loc[(df['date'].dt.month==1)&(df['date'].dt.year==2021)]
#2021-01-30

Jan = df.loc[(df.date == '2021-01-30')]

#get first and last rows of df
Jan.iloc[[0,-1]]

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)

#100 #Dangerous by Morgan Wallen (peak rank:62)

           date  rank             song  ... last-week  peak-rank  weeks-on-board
4000 2021-01-30     1  Drivers License  ...       1.0          1               2
4099 2021-01-30   100        Dangerous  ...      62.0         62               2

[2 rows x 7 columns]

In [ ]:
#February

#see what is the last day of month with available data
df.loc[(df['date'].dt.month==2)&(df['date'].dt.year==2021)]
#2021-02-27

Feb = df.loc[(df.date == '2021-02-27')]

Feb.iloc[[0,-1]]

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)

#100 #How They Remember You by Rascal Flatts (peak rank:100)

           date  rank  ... peak-rank weeks-on-board
3600 2021-02-27     1  ...         1              6
3699 2021-02-27   100  ...       100              1

[2 rows x 7 columns]

In [ ]:
#March

df.loc[(df['date'].dt.month==3)&(df['date'].dt.year==2021)]
 #2021-03-27

March = df.loc[(df.date == '2021-03-27')]

March.iloc[[0,-1]]

#1 
#Up by Cardi B (peak rank: 1)

#100
#Undivided by Tim McGraw & Tyler Hubbard (peak rank: 76)

           date  rank       song  ... last-week  peak-rank  weeks-on-board
3200 2021-03-27     1         Up  ...       6.0          1               6
3299 2021-03-27   100  Undivided  ...       NaN         76               2

[2 rows x 7 columns]

In [ ]:
#April

df.loc[(df['date'].dt.month==4)&(df['date'].dt.year==2021)]
#2021-04-24

April = df.loc[(df.date == '2021-04-24')]

April.iloc[[0,-1]]

           date  rank             song  ... last-week  peak-rank  weeks-on-board
2800 2021-04-24     1          Rapstar  ...       NaN          1               1
2899 2021-04-24   100  Real As It Gets  ...      83.0         34               6

[2 rows x 7 columns]

In [ ]:
#May

df.loc[(df['date'].dt.month==5)&(df['date'].dt.year==2021)]
#2021-05-29

May = df.loc[df.date == '2021-05-29']

May.iloc[[0,-1]]

           date  rank             song  ... last-week  peak-rank  weeks-on-board
2300 2021-05-29     1         Good 4 U  ...       NaN          1               1
2399 2021-05-29   100  Crocodile Teeth  ...       NaN        100               1

[2 rows x 7 columns]

In [ ]:
#June

df.loc[(df['date'].dt.month==6)&(df['date'].dt.year==2021)]
#2021-06-26

June = df.loc[(df.date == '2021-06-26')]

June.iloc[[0,-1]]

           date  rank    song  ... last-week  peak-rank  weeks-on-board
1900 2021-06-26     1  Butter  ...       1.0          1               4
1999 2021-06-26   100     You  ...       NaN        100               1

[2 rows x 7 columns]

In [ ]:
#July

df.loc[(df['date'].dt.month==7)&(df['date'].dt.year==2021)]
#2021-07-31

July = df.loc[df.date == '2021-07-31']

July.iloc[[0,-1]]

           date  rank  ... peak-rank weeks-on-board
1400 2021-07-31     1  ...         1              9
1499 2021-07-31   100  ...        95              3

[2 rows x 7 columns]

In [ ]:
#August

df.loc[(df['date'].dt.month==8)&(df['date'].dt.year==2021)]
#2021-08-28

Aug = df.loc[df.date == '2021-08-28']

Aug.iloc[[0,-1]]

           date  rank          song  ... last-week  peak-rank  weeks-on-board
1000 2021-08-28     1          Stay  ...       1.0          1               6
1099 2021-08-28   100  5500 Degrees  ...       NaN         92               2

[2 rows x 7 columns]

In [ ]:
#September

df.loc[(df['date'].dt.month==9)&(df['date'].dt.year==2021)]
#2021-09-25

Sep = df.loc[df.date == "2021-09-25"]

Sep.iloc[[0,-1]]

          date  rank         song  ... last-week  peak-rank  weeks-on-board
600 2021-09-25     1         Stay  ...       6.0          1              10
699 2021-09-25   100  Knowing You  ...       NaN         87               5

[2 rows x 7 columns]

In [ ]:
#October

df.loc[(df['date'].dt.month==10)&(df['date'].dt.year==2021)]
#2021-10-30

Oct = df.loc[(df.date == '2021-10-30')]

Oct.iloc[[0,-1]]

#1 #Easy On Me by Adele (peak rank: 1)

#100 #Just About Over You by Priscilla Block (peak rank: 97)

          date  rank                 song  ... last-week  peak-rank  weeks-on-board
100 2021-10-30     1           Easy On Me  ...      68.0          1               2
199 2021-10-30   100  Just About Over You  ...      97.0         97               2

[2 rows x 7 columns]

In [ ]:
#November #not yet

df.loc[(df['date'].dt.month==11)&(df['date'].dt.year==2021)]

#Nov == df.loc[df.date == "2021-11-"]

Nov.iloc[[0,-1]]

         date  rank                song  ... last-week  peak-rank  weeks-on-board
0  2021-11-06     1          Easy On Me  ...       1.0          1               3
1  2021-11-06     2                Stay  ...       2.0          1              16
2  2021-11-06     3       Industry Baby  ...       3.0          1              14
3  2021-11-06     4          Fancy Like  ...       4.0          3              19
4  2021-11-06     5          Bad Habits  ...       5.0          2              18
..        ...   ...                 ...  ...       ...        ...             ...
95 2021-11-06    96  To Be Loved By You  ...       NaN         96               1
96 2021-11-06    97          Ain't Shit  ...       NaN         24              14
97 2021-11-06    98        Life Goes On  ...       NaN         91               2
98 2021-11-06    99        Come Through  ...       NaN         64              16
99 2021-11-06   100              Nevada  ...       NaN         58               4

[100 rows x 7 columns]

In [ ]:
#December

#df.loc[(df['date'].dt.month==12)&(df['date'].dt.year==2021)]

#Dec = df.loc[df.date == "2021-12-"]

#Dec.iloc[[0,-1]]