<a href="https://colab.research.google.com/github/itsumiii/itsumiii/blob/main/ItsumiNagakura_DASMA51_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#import data
import pandas as pd

df = pd.read_csv("/content/gdrive/MyDrive/python files/charts.csv")

#change format of date column to easily look up data of specific months
df['date']= pd.to_datetime(df['date'])

#to make sure the dates are in order so its easier to find last available data for each month
df.sort_values(by = 'date', ascending = False)

df.head()

        date  rank           song  ... last-week  peak-rank  weeks-on-board
0 2021-11-06     1     Easy On Me  ...       1.0          1               3
1 2021-11-06     2           Stay  ...       2.0          1              16
2 2021-11-06     3  Industry Baby  ...       3.0          1              14
3 2021-11-06     4     Fancy Like  ...       4.0          3              19
4 2021-11-06     5     Bad Habits  ...       5.0          2              18

[5 rows x 7 columns]

In [ ]:
list(df.columns)

['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board']

# November 2020

In [61]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==11)&(df['date'].dt.year==2020)]
#2020-11-28

#get first and last rows of df which only includes data from the date found above
Nov = df.loc[(df.date == '2020-11-28')].iloc[[0,-2,-1]]

Nov

#1 #Mood by 24kGoldn featuring Iann Dior
#https://youtu.be/GrAchTdepsU

#100 - no music video

#99 #Practice by DaBaby
#https://youtu.be/1YzXZN37stw

           date  rank                song  ... last-week  peak-rank  weeks-on-board
4900 2020-11-28     1                Mood  ...       1.0          1              15
4998 2020-11-28    99            Practice  ...      88.0         86               4
4999 2020-11-28   100  Bought A Bad Bitch  ...       NaN        100               1

[3 rows x 7 columns]

##11_1

In [ ]:
#imports for scraping

!pip install selenium
#we also need to do the extra steps below because we need to call the chrome executable from colab
#these steps are not necessary if you are running the code from your own computer
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

import sys
from selenium import webdriver

import time
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [62]:
#scraping

#1 #Mood by 24kGoldn featuring Iann Dior
#https://youtu.be/GrAchTdepsU


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Mood =[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/GrAchTdepsU") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Mood.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [63]:
import pandas as pd   
Mood_ = pd.DataFrame(Mood, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
Mood_.to_csv('/content/gdrive/My Drive/python files/final project/Nov1.csv', encoding='utf-8', index=False)

In [65]:
#cleaning and preprocessing data

#!!name all data of top song of each month as 'songname_1' !!!!!!
Nov_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Nov1.csv")
Nov_1.info()
Nov_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1607 non-null   object
dtypes: object(1)
memory usage: 12.9+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n2:27\n24kGoldn - Moo...
1                                                NaN
2                                                NaN
3  Official video for "Mood" by 24kGoldn featurin...
4                                This songs a vibe!

In [66]:
type(Nov_1.comment)

pandas.core.series.Series

In [67]:
#drop first 3 rows bc they are part of the music video description not comments

Nov_1= Nov_1.drop(labels=[0,1,2,3], axis=0)

Nov_1['comment'].str.lower()

Nov_1

                                                comment
4                                   This songs a vibe!
5         I love this song no matter how old it gets. ️
6                   Essa música traz uma vibe muito boa
7     Oh-oh-oh\n\nYeah, yeah, yeah, yeah (yeah)\n\nW...
8     This song never gets old. No matter much I lis...
...                                                 ...
1635                                  So very good song
1636                   Best song with legend  ringtone
1637                                  Love from skylord
1638  me to mom every time: why you always in a mood...
1639                               This song is so dope

[1636 rows x 1 columns]

In [ ]:
#label data with polarity using text blob

##11_99

In [71]:
#scraping

#99 #Practice by DaBaby
#https://youtu.be/1YzXZN37stw


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
Practice =[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/1YzXZN37stw") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Practice.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [72]:
Practice_ = pd.DataFrame(Practice, columns=['comment'])

Practice_.to_csv('/content/gdrive/My Drive/python files/final project/Nov99.csv', encoding='utf-8', index=False)

In [78]:
#cleaning and preprocessing data

Nov_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Nov99.csv")
Nov_L.info()
Nov_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1602 entries, 0 to 1601
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1577 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next in 8\n3:26\n...
1  IG: @DaBaby \nDirected By: @Gemini.one1\nSong ...
2                        Mannnn this go way to hard
3  I barely see anybody talking about this beat. ...
4  I’m so addicted to this song. Dababy you’ve go...

In [79]:
Nov_L= Nov_L.drop(labels=[0,1], axis=0)

Nov_L['comment'].str.lower()

Nov_L

                                                comment
2                           Mannnn this go way to hard
3     I barely see anybody talking about this beat. ...
4     I’m so addicted to this song. Dababy you’ve go...
5     i was not expecting that from that kid bruh he...
6     Man I hope Dababy can go through this tough ti...
...                                                 ...
1597                                       Qc for life
1598                                        Caleb song
1599          After Caleb dropped Carti been real quiet
1600  Well at least we know what Dababy will look li...
1601  I literally came from tik tok but I watched it...

[1600 rows x 1 columns]

#December 2020

In [81]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==12)&(df['date'].dt.year==2020)]
#2020-12-26 #On christmas so maybe biased results?

#get first and last rows of df which only includes data from the date found above
Dec = df.loc[(df.date == '2020-12-26')].iloc[[0,-3,-2,-1]]

Dec

#1 #Willow by Taylor Swift
#https://youtu.be/RsEZmictANA

#100 - no music video

#99 - no music video

#98 #Errbody by Lil Baby
#https://youtu.be/pKtUpBjIl-g

           date  rank  ... peak-rank weeks-on-board
4500 2020-12-26     1  ...         1              1
4597 2020-12-26    98  ...        41              2
4598 2020-12-26    99  ...        80              3
4599 2020-12-26   100  ...       100              1

[4 rows x 7 columns]

##12_1

In [82]:
#scraping

#1 #Willow by Taylor Swift
#https://youtu.be/RsEZmictANA


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Willow =[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/RsEZmictANA") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)


for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Willow.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [84]:
Willow_ = pd.DataFrame(Willow, columns=['comment'])

Willow_.to_csv('/content/gdrive/My Drive/python files/final project/Dec1.csv', encoding='utf-8', index=False)

In [85]:
#cleaning and preprocessing data

Dec_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Dec1.csv")
Dec_1.info()
Dec_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2261 entries, 0 to 2260
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  2259 non-null   object
dtypes: object(1)
memory usage: 17.8+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n4:35\nTaylo...
1  Official music video by Taylor Swift performin...
2  obsessed with the tune it’s so gentle almost f...
3  She is like wine. The more time passes, the be...
4  I hate that Evermore received so less promotio...

In [86]:
Dec_1= Dec_1.drop(labels=[0,1], axis=0)

Dec_1['comment'].str.lower()

Dec_1

                                                comment
2     obsessed with the tune it’s so gentle almost f...
3     She is like wine. The more time passes, the be...
4     I hate that Evermore received so less promotio...
5     Acording to Spotify, this was the Taylor Swift...
6     Can't believe it's already been 1 year since t...
...                                                 ...
2256                                             STRE4M
2257                                     so beautiful 🥰
2258                                      here na is me
2259  She really reinvents herself. And its no joke ...
2260                                   Masterpiece song

[2259 rows x 1 columns]

##12_98

In [88]:
#scraping

#98 #Errbody by Lil Baby
#https://youtu.be/pKtUpBjIl-g


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Errbody =[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/pKtUpBjIl-g") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Errbody.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [89]:
Errbody_ = pd.DataFrame(Errbody, columns=['comment',''])

Errbody_.to_csv('/content/gdrive/My Drive/python files/final project/Dec98.csv', encoding='utf-8', index=False)

In [90]:
#cleaning and preprocessing data

Dec_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Dec98.csv")
Dec_L.info()
Dec_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1742 entries, 0 to 1741
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1684 non-null   object
dtypes: object(1)
memory usage: 13.7+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n3:26\nLil B...
1  "Stream/Download Lil Baby's ""Errbody"" here: ...
2                         I wish Errbody a Good 2021
3                      Can’t stop bumping this man !
4  Lil Babys music just does something to my soul...

In [91]:
Dec_L= Dec_L.drop(labels=[0,1], axis=0)

Dec_L['comment'].str.lower()

Dec_L

                                                comment
2                            I wish Errbody a Good 2021
3                         Can’t stop bumping this man !
4     Lil Babys music just does something to my soul...
5     Protect this dude not tryna see mfs saying "ri...
6                  His flow on that 2nd verse was fire
...                                                 ...
1737                          Cracked at Warzone my guy
1738                                     Oyye brotha!!
1739                        I swear this hold video him
1740        This video seems way longer than 3 minutes.
1741  Yo look at the numbers thy getting higher stay...

[1740 rows x 1 columns]

#January

In [87]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==1)&(df['date'].dt.year==2021)]
#2021-01-30

#get first and last rows of df which only includes data from the date found above
Jan = df.loc[(df.date == '2021-01-30')].iloc[[0,1,-3,-2,-1]]

Jan

#2nd song bc no.1 song (drivers license) held spot for 2 months 

#2 #34+35 by Ariana Grande
#https://youtu.be/B6_iQvaIjXw

#100 #Dangerous by Morgan Wallen (peak rank:62) #no music video
#99 - no music video
#98 #One Too Many by Keith Urban with P!nk
#https://youtu.be/cy1rAn9MLtQ

           date  rank             song  ... last-week  peak-rank  weeks-on-board
4000 2021-01-30     1  Drivers License  ...       1.0          1               2
4001 2021-01-30     2            34+35  ...      11.0          2              12
4097 2021-01-30    98     One Too Many  ...       NaN         62               6
4098 2021-01-30    99   Hell Of A View  ...       NaN         94               2
4099 2021-01-30   100        Dangerous  ...      62.0         62               2

[5 rows x 7 columns]

##1_2

https://www.analyticssteps.com/blogs/sentiment-analysis-youtube-comments

In [9]:
#scraping

#2 #34+35 by Ariana Grande
#https://youtu.be/B6_iQvaIjXw


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Ariana =[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/B6_iQvaIjXw") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Ariana.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [24]:
import pandas as pd   
Ariana_ = pd.DataFrame(Ariana, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
Ariana_.to_csv('/content/gdrive/My Drive/python files/final project/Jan_2.csv', encoding='utf-8', index=False)

In [25]:
#cleaning and preprocessing data

#!!name all data of top song of each month as 'songname_1' !!!!!!
Jan_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Jan_2.csv")
Jan_1.info()
Jan_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1719 non-null   object
dtypes: object(1)
memory usage: 13.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n1:59:36\nArianaGrand...
1                                                NaN
2                                                NaN
3  The official “34+35” music video by Ariana Gra...
4  Can we pls talking about her split? Ok i need ...

In [26]:
type(Jan_1.comment)

pandas.core.series.Series

In [27]:
#drop first 3 rows bc they are part of the music video description not comments

Jan_1= Jan_1.drop(labels=[0,1,2], axis=0)

Jan_1['comment'].str.lower()

Jan_1

                                                comment
3     The official “34+35” music video by Ariana Gra...
4     Can we pls talking about her split? Ok i need ...
5     Its January 2022, lets see how many legends ar...
6      She makes the dirty lircs so pure with her voice
7     The guy in the end that has helped them shoot ...
...                                                 ...
1717         Cant u believe this girl WAS CAT VALENTINE
1718                   2:40 explains the whole song 🥱🤣🥲
1719  NO ONES GONNA TALK ABOUT THE BOY DRESSED UP LI...
1720  it's crazy how many people come back to this e...
1721                          I love u from Cambodia 🇰🇭

[1719 rows x 1 columns]

In [29]:
#label data with polarity using text blob

##1_98

In [ ]:
#scraping

#98 #One Too Many by Keith Urban with P!nk
#https://youtu.be/cy1rAn9MLtQ


sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

One_Too_Many=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/cy1rAn9MLtQ") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  One_Too_Many.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [ ]:
OTM= pd.DataFrame(One_Too_Many, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
OTM.to_csv('/content/gdrive/MyDrive/python files/final project/Jan98.csv', encoding='utf-8', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  datetime64[ns]
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 17.6+ MB

In [ ]:
#cleaning data

#!!name all data of top song of each month as 'songname_L' !!!!!! L means last bc its most likely that bottom songs have music videos so the ranking of bottom songs vary

Jan_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Jan98.csv")
Jan_L.info()
Jan_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1942 non-null   object
dtypes: object(1)
memory usage: 15.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n6:40\nKeith Urban & ...
1                                                NaN
2                                                NaN
3  The official music video for “One Too Many” wi...
4     The guy has never written a bad song... ❤️❤️❤️

In [ ]:
Jan_L_ = Jan_L.drop(labels=[0], axis=0)

Jan_L_

                                                comment
1                                                   NaN
2                                                   NaN
3     The official music video for “One Too Many” wi...
4        The guy has never written a bad song... ❤️❤️❤️
5     It's December 2021, let's see how many legends...
...                                                 ...
1939             Damn. This just hit the spot.  Perfect
1940  One collab I didn’t know I needed till this so...
1941                         Pink...I like it  🌸🌸🌸🌴🌸🌸🌸💜
1942  I have never been so proud, a power woman and ...
1943  I love the song but why did they have to add o...

[1943 rows x 1 columns]

#February

In [ ]:
#see what is the last day of month with available data
df.loc[(df['date'].dt.month==2)&(df['date'].dt.year==2021)]
#2021-02-27

Feb = df.loc[(df.date == '2021-02-27')].iloc[[0,-2]]

Feb

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)

#100 #How They Remember You by Rascal Flatts (peak rank:100) #no music video
#99 #Opp Stoppa by YBN Nahmir featuring 21 Savage
#https://youtu.be/UXXGfp-z850

           date  rank             song  ... last-week  peak-rank  weeks-on-board
3600 2021-02-27     1  Drivers License  ...       1.0          1               6
3698 2021-02-27    99       Opp Stoppa  ...       NaN         97               2

[2 rows x 7 columns]

##2_1

In [30]:
#1 ###TWO MONTHS IN A ROW

#1 #Drivers License by Olivia Rodrigo (peak rank: 1)
#https://youtu.be/ZmDBbnmKpqQ

##scraping!!

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Drivers_License=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/ZmDBbnmKpqQ") #Stanford NLP YouTube introduction

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Drivers_License.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: use options instead of chrome_options
  del sys.path[0]

In [31]:
import pandas as pd   
Drivers_License_= pd.DataFrame(Drivers_License, columns=['comment'])

#export dataframe as csv to my google drive bc the scraping process takes up too much time and space to run everytime
Drivers_License_.to_csv('/content/gdrive/My Drive/python files/final project/Feb_1.csv', encoding='utf-8', index=False)

In [32]:
#cleaning and preprocessing data

#!!name all data of top song of each month as 'songname_1' !!!!!!
Feb_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Feb_1.csv")
Feb_1.info()
Feb_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597 entries, 0 to 1596
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1590 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n0:00 / 4:07\nSHOW CH...
1                                                NaN
2                                                NaN
3  Listen to ‘drivers license’ out now: https://s...
4  I like this song too much for someone who’s ne...

In [34]:
#drop first 2 rows bc they are part of the music video description not comments

Feb_1= Feb_1.drop(labels=[0,1,2,3], axis=0)

Feb_1['comment'].str.lower()

Feb_1

                                                comment
4     I like this song too much for someone who’s ne...
5     La verdad que esta chica tiene demasiado talen...
6     Mañana cumple un año drivers license, que nost...
7     hoy se cumple 1 año de esta joya de canción, l...
8     Hoy cumple un año esta canción y estoy agradec...
...                                                 ...
1592                 mañana es el primer aniversario :(
1593           Haven't got a boyfriend but am in love.
1594                                        Omg 1 year
1595  This song makes me feel like my imaginary boyf...
1596   Olivia!! You’re gorgeous!!  It’s that guy’s loss

[1593 rows x 1 columns]

In [35]:
#label data with polarity using text blob

from textblob import TextBlob
Feb_1["Polarity"] = Feb_1['comment'].apply(lambda x: TextBlob(x).sentiment.polarity)
Feb_1.head()

TypeError: ignored

##2_99

In [ ]:
##scraping

#99 #Opp Stoppa by YBN Nahmir featuring 21 Savage
#https://youtu.be/UXXGfp-z850

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Opp_Stoppa=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/UXXGfp-z850") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Opp_Stoppa.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Opp_Stoppa_= pd.DataFrame(Opp_Stoppa, columns=['comment'])

Opp_Stoppa_.to_csv('/content/drive/My Drive/python files/final project/Feb99.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

Feb_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/Feb99.csv")
Feb_L.info()
Feb_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1288 non-null   object
dtypes: object(1)
memory usage: 10.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n2:54\nLil Loaded ft....
1  YBN Nahmir  - Opp Stoppa (feat. 21 Savage)\nSt...
2                              21 being held hostage
3  What a talented young man, I hope he doesn’t f...
4  Man this guy’s good! I hope he does not make a...

In [ ]:
Feb_L_ = Feb_L.drop(labels=[0,1], axis=0)

Feb_L_

                                                comment
2                                 21 being held hostage
3     What a talented young man, I hope he doesn’t f...
4     Man this guy’s good! I hope he does not make a...
5     This guy has some talent I hope he don’t make ...
6     What a talented young man, i hope he dont glid...
...                                                 ...
1310  Nahmir and Osiris making lightskins look like ...
1311  Do shorty know how goofy they looked at the en...
1312  YBN and Middle finger with the five get em y'a...
1313      When 21 savage rap all u hear ina back  21…21
1314              21 look like he didn’t wanna be there

[1313 rows x 1 columns]

#March

In [ ]:
df.loc[(df['date'].dt.month==3)&(df['date'].dt.year==2021)]
 #2021-03-27

March = df.loc[(df.date == '2021-03-27')].iloc[[0,-1]]

March

#1 
#Up by Cardi B (peak rank: 1)
#https://youtu.be/rCiBgLOcuKU

#100
#Undivided by Tim McGraw & Tyler Hubbard (peak rank: 76)
#https://youtu.be/nsFb67fo7nE

           date  rank       song  ... last-week  peak-rank  weeks-on-board
3200 2021-03-27     1         Up  ...       6.0          1               6
3299 2021-03-27   100  Undivided  ...       NaN         76               2

[2 rows x 7 columns]

##3_1

In [ ]:
##scraping

#1 
#Up by Cardi B (peak rank: 1)
#https://youtu.be/rCiBgLOcuKU

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Up=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/rCiBgLOcuKU") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Up.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

In [ ]:
Up_= pd.DataFrame(Up, columns=['comment'])

Up_.to_csv('/content/gdrive/My Drive/python files/final project/March1.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

March_1 = pd.read_csv("/content/gdrive/MyDrive/python files/final project/March1.csv")
March_1.info()
March_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1602 entries, 0 to 1601
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1572 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n0:00 / 2:49\nSHOW CH...
1  Cardi B - Up\nStream/Download - https://cardib...
2                                   Disney gone wild
3  Hate her or not, this girl is still making ama...
4  whoever is styling her deserves all the flower...

In [ ]:
March_1_ = March_1.drop(labels=[0,1], axis=0)

March_1_

                                                comment
2                                      Disney gone wild
3     Hate her or not, this girl is still making ama...
4     whoever is styling her deserves all the flower...
5     Producer: Okay cardi what do you wanna wear fo...
6     She puts so much effort into her visuals. Noon...
...                                                 ...
1597                                               папа
1598  I got respect for any CGI teams involved they ...
1599                                    offset so lucky
1600  You know when a song slaps so hard you gotta l...
1601  Card é foda! Música dançante e clip lindo dema...

[1600 rows x 1 columns]

##3_100

In [ ]:
##scraping


#100
#Undivided by Tim McGraw & Tyler Hubbard (peak rank: 76)
#https://youtu.be/nsFb67fo7nE

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Undivided=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/nsFb67fo7nE") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Undivided.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: use options instead of chrome_options
  del sys.path[0]

In [ ]:
Undivided_= pd.DataFrame(Undivided, columns=['comment'])

Undivided_.to_csv('/content/gdrive/My Drive/python files/final project/March100.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

March_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/March100.csv")
March_L.info()
March_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1293 non-null   object
dtypes: object(1)
memory usage: 10.2+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n1:32:28\nBest Slow C...
1                                                NaN
2                                                NaN
3  Official music video for Tim McGraw and Tyler ...
4  I pray everybody will hear this song and liste...

In [ ]:
March_L_ = March_L.drop(labels=[0,1], axis=0)

March_L_

                                                comment
2                                                   NaN
3     Official music video for Tim McGraw and Tyler ...
4     I pray everybody will hear this song and liste...
5     I wish everyone can take this song into their ...
6     So many people need to really hear this song, ...
...                                                 ...
1291                  Lol money grabbing song. Terrible
1292  I dont fake and I dont do fake accounts I dont...
1293  All christians should know what he means in th...
1294                       country music is dead. barf.
1295                                                NaN

[1294 rows x 1 columns]

#April

In [ ]:
df.loc[(df['date'].dt.month==4)&(df['date'].dt.year==2021)]
#2021-04-24

April = df.loc[(df.date == '2021-04-24')].iloc[[0,-1]]

April

#1 #Rapstar by Polo G 
# https://youtu.be/w2IhccXakkE

# 100 #Real As It Gets by Lil Baby featuring EST Gee
#https://youtu.be/yhoGtNiNX40

           date  rank             song  ... last-week  peak-rank  weeks-on-board
2800 2021-04-24     1          Rapstar  ...       NaN          1               1
2899 2021-04-24   100  Real As It Gets  ...      83.0         34               6

[2 rows x 7 columns]

##4_1

In [ ]:
##scraping

#1 #Rapstar by Polo G 
# https://youtu.be/w2IhccXakkE

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Rapstar=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/w2IhccXakkE") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Rapstar.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Rapstar_= pd.DataFrame(Rapstar, columns=['comment'])

Rapstar_.to_csv('/content/gdrive/My Drive/python files/final project/April1.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

April_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/April1.csv")
April_1.info()
April_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1441 non-null   object
dtypes: object(1)
memory usage: 11.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n3:18\nPolo ...
1                                                NaN
2                                                NaN
3  Official video for "RAPSTAR" by Polo G\n\nList...
4                                   WE WENT #1🌟🌟🌟🌟🌟🐐

In [ ]:
April_1_ = April_1.drop(labels=[0,1], axis=0)

April_1_

                                                comment
2                                                   NaN
3     Official video for "RAPSTAR" by Polo G\n\nList...
4                                      WE WENT #1🌟🌟🌟🌟🌟🐐
5     This song is legendary, I'm glad to see that o...
6                                Polo G don’t miss! 💚💚💚
...                                                 ...
1439                                             🐐 Goat
1440                       Polo G knows how to do it 🔥💯
1441                                His voice is somoth
1442  To everyone in the next 20 years, this guy rea...
1443                                                NaN

[1442 rows x 1 columns]

##4_100

In [ ]:
##scraping

# 100 #Real As It Gets by Lil Baby featuring EST Gee
#https://youtu.be/yhoGtNiNX40

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

RAIG=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/yhoGtNiNX40") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  RAIG.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
RAIG_= pd.DataFrame(RAIG, columns=['comment'])

RAIG_.to_csv('/content/gdrive/My Drive/python files/final project/April100.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

April_L = pd.read_csv("/content/gdrive/MyDrive/python files/final project/April100.csv")
April_L.info()
April_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1042 entries, 0 to 1041
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1042 non-null   object
dtypes: object(1)
memory usage: 8.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n♪ GONE HAVE TO CHASE...
1  Watch the music video for Lil Baby Feat. EST G...
2           Hoping my neighbours like Lil Baby too 🔈
3  I don't understand how anyone could put a thum...
4  I love how lil baby knows every lyric of the f...

In [ ]:
April_L_ = April_L.drop(labels=[0,1], axis=0)

April_L_

                                                comment
2              Hoping my neighbours like Lil Baby too 🔈
3     I don't understand how anyone could put a thum...
4     I love how lil baby knows every lyric of the f...
5     This song so good that I get pissed when they ...
6     If baby drops a another album the world is ove...
...                                                 ...
1037  Lol  I just started listen to him he might wan...
1038  Just when u thought it wasn’t possible baby le...
1039                                 How’s this so fire
1040  Shoutout to all the Eastside and Crips staying...
1041  You know this guy has some crazy talent when I...

[1040 rows x 1 columns]

#May

In [ ]:
df.loc[(df['date'].dt.month==5)&(df['date'].dt.year==2021)]
#2021-05-29

May = df.loc[df.date == '2021-05-29'].iloc[[0,-2]]

May

#1 #Good 4 U by Olivia Rodrigo
#https://youtu.be/gNi_6U5Pm_o

#100 → no music video
#99 #Country Again by Thomas Rhett
#https://youtu.be/t_J2gGmoiOM

           date  rank           song  ... last-week  peak-rank  weeks-on-board
2300 2021-05-29     1       Good 4 U  ...       NaN          1               1
2398 2021-05-29    99  Country Again  ...      95.0         73               3

[2 rows x 7 columns]

##5_1

In [ ]:
##scraping

#1 #Good 4 U by Olivia Rodrigo
#https://youtu.be/gNi_6U5Pm_o

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Good4U=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/gNi_6U5Pm_o") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Good4U.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Good4U_= pd.DataFrame(Good4U, columns=['comment'])

Good4U_.to_csv('/content/gdrive/My Drive/python files/final project/May1.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

May_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/May1.csv")
May_1.info()
May_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1947 non-null   object
dtypes: object(1)
memory usage: 15.4+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n59:20\nTaylor Swift ...
1  Listen to "good 4 u" out now: https://OliviaRo...
2  drivers license = sadness\ndeja vu = jealousy\...
3  Driver license - depression\n\nDeja Vu - envy\...
4  This is the most teenager song I've heard in y...

In [ ]:
May_1_= May_1.drop(labels=[0,1], axis=0)
May_1_

                                                comment
2     drivers license = sadness\ndeja vu = jealousy\...
3     Driver license - depression\n\nDeja Vu - envy\...
4     This is the most teenager song I've heard in y...
5     I really feel the state of frustration she tri...
6                      [Intro]\n\n(Ah)\n\n\n\n[Verse 1]
...                                                 ...
1955                                      Eres la mejor
1956                "Showing Smartfood While The Video"
1957  Fact : Never hurt a singer, they might wrote a...
1958                   I AM OBSESSED WITH YOUR VOICE!!!
1959                                                NaN

[1958 rows x 1 columns]

##5_99

In [ ]:
##scraping

#99 #Country Again by Thomas Rhett
#https://youtu.be/t_J2gGmoiOM

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Country_Again=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/t_J2gGmoiOM") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Country_Again.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Country_Again_= pd.DataFrame(Country_Again, columns=['comment'])

Country_Again_.to_csv('/content/gdrive/My Drive/python files/final project/May99.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

April_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/May99.csv")
April_L.info()
April_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795 entries, 0 to 794
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  793 non-null    object
dtypes: object(1)
memory usage: 6.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n♪ But I dug 'em out\...
1                                                NaN
2                                                NaN
3  Official music video for the title track from ...
4                        Thanks for watching, y'all!

In [ ]:
April_L_ = April_L.drop(labels= [0,1,2,3,4], axis=0)

April_L_

                                               comment
5              Man it feels good to hear country again
6    I am not American but country music feels like...
7    Good to see some people coming back to being C...
8    How many times has Thomas Rhett driven me to t...
9    Having just moved back home to Alabama from Ca...
..                                                 ...
790                Oh,  Now you're country?  Too late.
791  Americans should the best people out there if ...
792  This sucks  just another so called country sin...
793                      This the worst song ever made
794  This shit isn't even country, just cause u tal...

[790 rows x 1 columns]

#June

In [44]:
df.loc[(df['date'].dt.month==6)&(df['date'].dt.year==2021)]
#2021-06-26

June = df.loc[(df.date == '2021-06-26')].iloc[[0,1,2,-1]]

June

#1 is no 1 song for june and july
#2 good 4 u was no 1 song last month

#3 Levitating by Dua Lipa featuring DaBaby
#https://youtu.be/TUVcZfQe-Kw

#100 #You by Regard x Troye Sivan x Tate McRae
#https://youtu.be/on_IPWtYdc0

           date  rank        song  ... last-week  peak-rank  weeks-on-board
1900 2021-06-26     1      Butter  ...       1.0          1               4
1901 2021-06-26     2    Good 4 U  ...       2.0          1               5
1902 2021-06-26     3  Levitating  ...       3.0          2              37
1999 2021-06-26   100         You  ...       NaN        100               1

[4 rows x 7 columns]

##6_3

In [48]:
##scraping

#3 Levitating by Dua Lipa featuring DaBaby
#https://youtu.be/TUVcZfQe-Kw

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Levitating=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/TUVcZfQe-Kw") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Levitating.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [49]:
Levitating_ = pd.DataFrame(Levitating, columns=['comment'])

Levitating_.to_csv('/content/gdrive/My Drive/python files/final project/June3.csv', encoding='utf-8', index=False)

In [53]:
##cleaning data

June_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/June3.csv")
June_1.info()
June_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663 entries, 0 to 1662
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1661 non-null   object
dtypes: object(1)
memory usage: 13.1+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next in 3\n4:23\n...
1                                                NaN
2                                                NaN
3  The official music video for Dua Lipa - Levita...
4  I love all her songs but this one hits you on ...

In [54]:
June_1 = June_1.drop(labels = [0,1,2,3], axis=0)
June_1

                                                comment
4     I love all her songs but this one hits you on ...
5                           I am a huge fan of this 💗💗💗
6     Lyrics\nIf you wanna run away with me, I know ...
7     This song is the most fun song I have heard in...
8                            This song never gets old ✨
...                                                 ...
1658  Usual story UK / European artists - sings the ...
1659                  beginning of summer vibes heavyyy
1660                          മലയാളീസ് ആരേലും ഉണ്ടോ 😌😌😌
1661  Everyone: This is so nostalgic\nMe: DABABY TUR...
1662                              The video was so fun!

[1659 rows x 1 columns]

##6_100

In [ ]:
##scraping

#100 #You by Regard x Troye Sivan x Tate McRae
#https://youtu.be/on_IPWtYdc0 

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

You=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/on_IPWtYdc0 ") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  You.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
You_ = pd.DataFrame(You, columns=['comment'])

You_.to_csv('/content/gdrive/My Drive/python files/final project/June100.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

June_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/June100.csv")
June_L.info()
June_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1983 entries, 0 to 1982
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1948 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n3:55\nRegard, Troye ...
1  Listen to 'You' now: https://lnk.to/RegardTroy...
2  this is an absolute BOP how am I only discover...
3  This song just screams, "professional sound". ...
4  this song is my current fave song and I can't ...

In [ ]:
June_L_ = June_L.drop(labels = [0,1], axis=0)
June_L_

                                                comment
2     this is an absolute BOP how am I only discover...
3     This song just screams, "professional sound". ...
4     this song is my current fave song and I can't ...
5                                        Amo esse som !
6                               Essa música é top,amooo
...                                                 ...
1978               I’m falling in looooveeeee againnnn
1979                                             Troye
1980                     The editing is effing coolllll
1981                                    Summer 21 music
1982                                                NaN

[1981 rows x 1 columns]

#July

##7_1

In [36]:
##scraping ###NO 1 FOR TWO MONTHS IN A ROW

#1 #Butter by BTS
#https://youtu.be/WMweEpGlu_U

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Butter=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/WMweEpGlu_U") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Butter.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [37]:
Butter_= pd.DataFrame(Butter, columns=['comment'])

Butter_.to_csv('/content/gdrive/My Drive/python files/final project/July1.csv', encoding='utf-8', index=False)

In [38]:
##cleaning data

July_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/July1.csv")
July_1.info()
July_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  2206 non-null   object
dtypes: object(1)
memory usage: 17.5+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\nUp next\n3:28\nBTS (...
1                                                NaN
2  BTS (방탄소년단) 'Butter' Official MV \n\n\nCredits...
3  BTS : We practiced 18 hours a day. \nARMYs: We...
4                  This is what we call MASTERPIECE.

In [39]:
July_1 = July_1.drop(labels=[0,1,2], axis=0)

July_1

                                                comment
3     BTS : We practiced 18 hours a day. \nARMYs: We...
4                     This is what we call MASTERPIECE.
5     Y pensar que este año tendremos que romper tod...
6     This song will never get old!!!\nMany people c...
7     Aún soy parte de esas personas que no deja de ...
...                                                 ...
2222  yaallah lagunya cocok bet buat dipake senam irama
2223                                            Butter!
2224  ARMY que hablan español, comenten en es idioma...
2225  Popular opinion: Everyone's agrees that ARMY i...
2226                                                NaN

[2224 rows x 1 columns]

##7_100

In [ ]:
df.loc[(df['date'].dt.month==7)&(df['date'].dt.year==2021)]
#2021-07-31

July = df.loc[df.date == '2021-07-31'].iloc[[0,-1]]

July

#1

#100 #Cold Beer Calling My Name by Jameson Rodgers featuring Luke Combs
#https://youtu.be/bBBOw2ZLwqI

           date  rank  ... peak-rank weeks-on-board
1400 2021-07-31     1  ...         1              9
1499 2021-07-31   100  ...        95              3

[2 rows x 7 columns]

In [43]:
##scraping

#100 #Cold Beer Calling My Name by Jameson Rodgers featuring Luke Combs
#https://youtu.be/bBBOw2ZLwqI

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

CBCMN=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/bBBOw2ZLwqI") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  CBCMN.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [45]:
CBCMN_= pd.DataFrame(CBCMN, columns=['comment'])

CBCMN_.to_csv('/content/gdrive/My Drive/python files/final project/July100.csv', encoding='utf-8', index=False)

In [46]:
##cleaning data

July_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/July100.csv")
July_L.info()
July_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  662 non-null    object
dtypes: object(1)
memory usage: 5.3+ KB

                                             comment
0  SKIP NAVIGATION\nSIGN IN\n♪ Ain't nowhere to b...
1  Listen to "Cold Beer Calling My Name" by James...
2  Got together with the boys for the “Cold Beer ...
3  Yes!! Love it!! Great job Luke, Jameson and ev...
4  Thanks for checking out the video y'all!  Hope...

In [47]:
July_L_ = July_L.drop(labels=[0,1], axis=0)

July_L_

                                               comment
2    Got together with the boys for the “Cold Beer ...
3    Yes!! Love it!! Great job Luke, Jameson and ev...
4    Thanks for checking out the video y'all!  Hope...
5                'Bout to kick off the weekend!! 🙌🍺🙌🍺🙌
6    I can tell this summer is going to be great ju...
..                                                 ...
657                                      I hate pagans
658  Success wealth good health and happiness and p...
659  The heartbreaking cappelletti socially approve...
660                                    #fucklukecolmbs
661  Cant trust a sell out like Luke Combs. Bet he ...

[660 rows x 1 columns]

#August

In [ ]:
df.loc[(df['date'].dt.month==8)&(df['date'].dt.year==2021)]
#2021-08-28

Aug = df.loc[df.date == '2021-08-28'].iloc[[0,-1]]

Aug

#1 #Stay by The Kid Laroi and JB
#https://youtu.be/kTJczUoc26U

#100 #5500 Degrees by EST Gee featuring Lil Baby etc...
#https://youtu.be/IWm4c9u0O8c

           date  rank          song  ... last-week  peak-rank  weeks-on-board
1000 2021-08-28     1          Stay  ...       1.0          1               6
1099 2021-08-28   100  5500 Degrees  ...       NaN         92               2

[2 rows x 7 columns]

##8_1

In [ ]:
##scraping

#1 #Stay by The Kid Laroi and JB
#https://youtu.be/kTJczUoc26U

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Stay=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/kTJczUoc26U") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Stay.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Stay_= pd.DataFrame(Stay, columns=['comment'])
Stay_.head()

Stay_.to_csv('/content/gdrive/My Drive/python files/final project/August1.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

August_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/August1.csv")
August_1.info()
August_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1625 non-null   object
dtypes: object(1)
memory usage: 13.0+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n1:00:02\nThe Kid...
1  Official video for “Stay” by The Kid LAROI & J...
2  [Chorus: The Kid LAROI]\nI do the same thing I...
3  Both are artists who rose to fame at a young a...
4                                 Música maravilhosa

In [ ]:
August_1_ = August_1.drop(labels=[0,1,2], axis=0)
August_1_

                                                comment
3     Both are artists who rose to fame at a young a...
4                                    Música maravilhosa
5                    Toda música do Justin bieber é hit
6     The background score in this song is legendary...
7     And five months later...still the BADASS song....
...                                                 ...
1645                             0:16 his right leg ups
1646                               I like this so much
1647  AUDIUS TO THE MOON                            ...
1648  Chorus: The Kid LAROI]\nI do the same thing I ...
1649       Keep your hardwork  it is the  strength of u

[1647 rows x 1 columns]

##8_100

In [ ]:
##scraping

#100 #5500 Degrees by EST Gee featuring Lil Baby etc...
#https://youtu.be/IWm4c9u0O8c

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Degrees=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/IWm4c9u0O8c") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  Degrees.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
Degrees_= pd.DataFrame(Degrees, columns=['comment'])

Degrees_.to_csv('/content/gdrive/My Drive/python files/final project/August100.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

August_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/August100.csv")
August_L.info()
August_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1712 non-null   object
dtypes: object(1)
memory usage: 14.1+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n0:00 / 3:05\n#ES...
1                                                NaN
2                                                NaN
3  Listen to EST Gee's “Bigger Than Life Or Death...
4             EST PUTTING ON!! 502 in the building!!

In [ ]:
August_L_ = August_L.drop(labels=[0,1,2,3], axis=0)
August_L_

                                                comment
4                EST PUTTING ON!! 502 in the building!!
5        When everyone do their part in a group project
6             Now this how a XXL cypher supposed to go
7     Energy never disappoints with his beats, he de...
8     Can’t lie,42dugg Flows Comes Different In This...
...                                                 ...
1779                            42 dugg slid on this !!
1780  1:27 Lil Baby: Rylo I’m going to make sure the...
1781                                                NaN
1782                                Lil Baby is the man
1783                                            Dugg!!!

[1780 rows x 1 columns]

#Septemer

In [ ]:
df.loc[(df['date'].dt.month==9)&(df['date'].dt.year==2021)]
#2021-09-25

Sep = df.loc[df.date == "2021-09-25"].iloc[[0,-1]]

Sep

#1

#100 #Knowing You by Kenny Chesney 
#https://youtu.be/PkrTvtIxUaA

          date  rank         song  ... last-week  peak-rank  weeks-on-board
600 2021-09-25     1         Stay  ...       6.0          1              10
699 2021-09-25   100  Knowing You  ...       NaN         87               5

[2 rows x 7 columns]

##9_1

##9_100

In [ ]:
##scraping

#100 #Knowing You by Kenny Chesney 
#https://youtu.be/PkrTvtIxUaA

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

KnowingYou=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/PkrTvtIxUaA") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  KnowingYou.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
KnowingYou_= pd.DataFrame(KnowingYou, columns=['comment'])

KnowingYou_.to_csv('/content/gdrive/My Drive/python files/final project/September100.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

Sep_L= pd.read_csv("/content/gdrive/MyDrive/python files/final project/September100.csv")
Sep_L.info()
Sep_L.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1733 non-null   object
dtypes: object(1)
memory usage: 13.9+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\n4:08\nKenny Ches...
1                                                NaN
2                                                NaN
3  Kenny Chesney - Knowing You (Official Music Vi...
4         Uma canção linda que toca o nosso coração.

In [ ]:
Sep_L_ = Sep_L.drop(labels=[0,1,2,3], axis=0)

Sep_L_

                                                comment
4            Uma canção linda que toca o nosso coração.
5     There’s really only a handful of country music...
6     What a beautiful song. Sometimes we hold on by...
7     I lost my wife in October, and Kenny you just ...
8     I lost my daughter a little over two  months a...
...                                                 ...
1752  Wow,. So Beautiful.. Had chills the entire vid...
1753  I’d do it all over because damn.... it was eve...
1754              Great song Kenny. Out of the park !..
1755                                         great tune
1756                      First Class - job well done !

[1753 rows x 1 columns]

#October

In [ ]:
df.loc[(df['date'].dt.month==10)&(df['date'].dt.year==2021)]
#2021-10-30

Oct = df.loc[(df.date == '2021-10-30')].iloc[[0,-1]]

Oct

#1 #Easy On Me by Adele (peak rank: 1)
#https://youtu.be/U3ASj1L6_sY

#100 #Just About Over You by Priscilla Block (peak rank: 97)
#https://youtu.be/J1Jrp0tiRGk

          date  rank                 song  ... last-week  peak-rank  weeks-on-board
100 2021-10-30     1           Easy On Me  ...      68.0          1               2
199 2021-10-30   100  Just About Over You  ...      97.0         97               2

[2 rows x 7 columns]

##10_1

In [ ]:
##scraping

#1 #Easy On Me by Adele (peak rank: 1)
#https://youtu.be/U3ASj1L6_sY

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

EasyOnMe=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/U3ASj1L6_sY") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  EasyOnMe.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
EasyOnMe_= pd.DataFrame(EasyOnMe, columns=['comment'])

EasyOnMe_.to_csv('/content/gdrive/My Drive/python files/final project/October1.csv', encoding='utf-8', index=False)

In [ ]:
##cleaning data

Oct_1= pd.read_csv("/content/gdrive/MyDrive/python files/final project/October1.csv")
Oct_1.info()
Oct_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1639 entries, 0 to 1638
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  1599 non-null   object
dtypes: object(1)
memory usage: 12.9+ KB

                                             comment
0  TW\nSKIP NAVIGATION\nSIGN IN\nSHOW CHAT REPLAY...
1  Official Video for "Easy On Me" by Adele.\nSho...
2  Lyrics\nThere ain't no gold in this river\n\nT...
3                                    love the song ️
4  Essa música trás paz ao corpo, escuto de olhos...

In [ ]:
Oct_1_ = Oct_1.drop(labels=[0,1,2], axis=0)

Oct_1_

                                                comment
3                                       love the song ️
4     Essa música trás paz ao corpo, escuto de olhos...
5     Whenever I hear this song I dedicate it to mys...
6                Gente do céu, que música PERFEITAAAAAA
7                                              Adele..
...                                                 ...
1634   Now u and rod gonna make a song together amazing
1635  Kita adalah 2 orang yg gagal.\nKamu gagal mema...
1636  Why are people saying this doesn’t sound like ...
1637  imagine if drake and kanye hosted a gospel of ...
1638                                                NaN

[1636 rows x 1 columns]

##10_100

In [ ]:
##scraping

#100 #Just About Over You by Priscilla Block (peak rank: 97)
#https://youtu.be/J1Jrp0tiRGk

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

JAOY=[]

wait = WebDriverWait(wd,15)
wd.get("https://youtu.be/J1Jrp0tiRGk") 

for item in range(200): 
 wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END) 
 #time.sleep(15)

 #wait time so server doesnt think youre attacking it bc of continued requests

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
  JAOY.append(comment.text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()